<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Entrada Ventures</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />

            <link href="assets/css/cards.css" rel="stylesheet" />
            <link href="assets/css/uikit.css" rel="stylesheet" />

    <link href="assets/css/style.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">

            <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700'
                rel='stylesheet' type='text/css'>
</head>
<body style="height: 100%;">
        <div class="section section-large section-get-started">
                <div class="parallax filter">
                    <div class="image" style="background-image: url('assets/img/man-at-desk.jpg'); width:100%; height:100%;">
                    </div>
                    <div class="container" style="width:100%; height:100%;">
                        <div class="title-area">
                            <h2 class="text-white">Looking to get started on your journey?</h2>
                            <div class="separator line-separator">♦</div>
                            <p class="description"> 
                                Bellow you'll see an opportunity to submit your pitch to us, and one of our collegues
                                will take a look. However, our preference would be to receive something from someone we know
                                at the firm. Our lives are quite busy and there are lots of great startups out there, so finding
                                a more personal connection is a much more meaningful way to introduce yourself and demonstrate
                                your desire to be a part of the Entrada family.
                                
                                Wheather or not you can find a more personal route we'd still love to hear from you. So submit your
                                pitch here.
                            </p>
                        </div>
        
                        <div class="button-get-started">
                            <a href="submit_pitch.html" target = "_blank" class="btn btn-danger btn-fill btn-lg">Submit A Pitch</a>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>